<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/a2f02755e4.js" crossorigin="anonymous"></script>
    <link 
        rel="stylesheet" 
        href="css/style.css"
    >
    <link rel="icon" type="image/x-icon" href="../public/images/leonsmile">
    <title>Stay in the Hunt</title>
  </head>

  <body>
    <!-- App Header & Navbar -->
    <header class="header">
        <a class="header--linkLogo" href="/"><i class="header--logo fa-solid fa-circle-check"></i></a>
        <h3 class="header--appName">SITH</h3>
        <i class="nav--hambrgBtn fa-solid fa-bars"></i>
        <nav class="nav">
            <ul class="nav--list">
                <li class="nav--listItems"><a class="btn--primary" href="/login"> Login</a></li>
                <li class="nav--listItems"><a class="btn--secondary" href="/signup"> Signup</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Hero Section -->
    <main class="heroSection">
        <section class="heroSection__left">
            <img class="heroSection--logo" src="images/logo.png" alt="Leon 100Devs Logo">
        </section>
        <section class="heroSection__right">
            <section class="heroSection--text">
                <h1 class="heroSection--title">Don't Get Got!</h1>
                <p class="heroSection--subTitle">We go get! Don't start your day like<br /> an accident and use the 100Devs<br /> Stay in the Hunt (SITH) task tracker.</p>
            </section>
            <section class="registration--btns">
                <a class="btn--primary" href="/login"> Login</a>
                <a class="btn--secondary" href="/signup"> Signup</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <small class="footer--info">© 2022 | Developed by <a href="https://github.com/danjkim21" target="_blank">danjkim21</a>, <a href="https://github.com/snowsneakers" target="_blank">snowsneakers</a>, <a href="https://j-mataway.github.io/portfolio/" target="_blank">j-mataway</a>, <a href="https://github.com/isravera" target="_blank">isravera</a>, <a href="https://github.com/TylerP99" target="_blank">TylerP99</a>, and <a href="https://github.com/durinwhitestorm" target="_blank">durinwhitestorm</a> </small>
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
